[{-$testname-}]
ssl_conf = {-$testname-}-ssl

[{-$testname-}-ssl]
server = {-$testname-}-server{-
    # The following sections are optional.
    $OUT = "";
    if (%server2) {
        $OUT .= "\nserver2 = $testname-server2";
    }
    if (%resume_server) {
        $OUT .= "\nresume-server = $testname-resume-server";
    }
-}
client = {-$testname-}-client

[{-$testname-}-server]
{-
    foreach my $key (sort keys %server) {
        $OUT .= qq{$key} . " = " . qq{$server{$key}\n} if defined $server{$key};
    }
    if (%server2) {
        $OUT .= "\n[$testname-server2]\n";
        foreach my $key (sort keys %server2) {
            $OUT .= qq{$key} . " = " . qq{$server2{$key}\n} if defined $server2{$key};
        }
    }
    if (%resume_server) {
        $OUT .= "\n[$testname-resume-server]\n";
        foreach my $key (sort keys %resume_server) {
            $OUT .= qq{$key} . " = " . qq{$resume_server{$key}\n} if defined $resume_server{$key};
        }
    }
-}
[{-$testname-}-client]
{-
    foreach my $key (sort keys %client) {
        $OUT .= qq{$key} . " = " . qq{$client{$key}\n} if defined $client{$key};
    }
-}
[test-{-$idx-}]
{-
    foreach my $key (sort keys %test) {
        $OUT .= qq{$key} ." = " . qq{$test{$key}\n} if defined $test{$key};
    }
-}
