[{-$testname-}]
ssl_conf = {-$testname-}-ssl

[{-$testname-}-ssl]
server = {-$testname-}-server
client = {-$testname-}-client

[{-$testname-}-server]
{-
    foreach my $key (sort keys %server) {
        $OUT .= qq{$key} . " = " . qq{$server{$key}\n} if defined $server{$key};
    }
-}

[{-$testname-}-client]
{-
    foreach my $key (sort keys %client) {
        $OUT .= qq{$key} . " = " . qq{$client{$key}\n} if defined $client{$key};
    }
-}

[test-{-$idx-}]
{-
    foreach my $key (sort keys %test) {
        $OUT .= qq{$key} ." = " . qq{$test{$key}\n} if defined $test{$key};
    }
-}
