# Configuration file to test system default tls configuration

opentls_conf = default_conf

[ default_conf ]

tls_conf = tls_sect

[tls_sect]

system_default = tls_default_sect

[tls_default_sect]
MaxProtocol = TLSv1.2
MinProtocol = TLSv1.2
