# Generated with generate_ssl_tests.pl

num_tests = 28

test-0 = 0-one-fragment-minus-app-data
test-1 = 1-one-fragment-app-data
test-2 = 2-one-fragment-plus-app-data
test-3 = 3-small-app-data
test-4 = 4-small-app-data-large-fragment-size
test-5 = 5-medium-app-data
test-6 = 6-medium-plus-app-data
test-7 = 7-large-app-data
test-8 = 8-large-app-data-large-fragment-size
test-9 = 9-large-app-data-odd-fragment-size
test-10 = 10-Maximum Fragment Len extension set to 1024 w. FragmentSize disabled
test-11 = 11-Maximum Fragment Len extension equal FragmentSize to 2048
test-12 = 12-Maximum Fragment Len extension 512 lower than FragmentSize 1024
test-13 = 13-Maximum Fragment Len extension 2048 bigger than FragmentSize 1024
test-14 = 14-Maximum Fragment Len extension 4096 greater than FragmentSize 2048
test-15 = 15-Maximum Fragment Len extension 2048 greater than FragmentSize 1024
test-16 = 16-Record Size Limit extension negotiated, not asymmetric
test-17 = 17-Record Size Limit extension negotiated, asymmetric
test-18 = 18-Record Size Limit extension not negotiated
test-19 = 19-Server rejects invalid Record Size Limit value
test-20 = 20-Client rejects invalid Record Size Limit value
test-21 = 21-Maximum Fragment Len extension 1024, Record Size Limit negotiated
test-22 = 22-large-app-data-aes-sha1-multibuffer
test-23 = 23-large-app-data-aes-sha2-multibuffer
test-24 = 24-large-app-data-aes-sha1-multibuffer-odd-fragment
test-25 = 25-large-app-data-aes-sha2-multibuffer-odd-fragment
test-26 = 26-small-app-data-aes-sha1-multibuffer
test-27 = 27-small-app-data-aes-sha2-multibuffer
# ===========================================================

[0-one-fragment-minus-app-data]
ssl_conf = 0-one-fragment-minus-app-data-ssl

[0-one-fragment-minus-app-data-ssl]
server = 0-one-fragment-minus-app-data-server
client = 0-one-fragment-minus-app-data-client

[0-one-fragment-minus-app-data-server]
Certificate = ${ENV::TEST_CERTS_DIR}/servercert.pem
CipherString = DEFAULT
PrivateKey = ${ENV::TEST_CERTS_DIR}/serverkey.pem

[0-one-fragment-minus-app-data-client]
CipherString = DEFAULT
VerifyCAFile = ${ENV::TEST_CERTS_DIR}/rootcert.pem
VerifyMode = Peer

[test-0]
ApplicationData = 511


# ===========================================================

[1-one-fragment-app-data]
ssl_conf = 1-one-fragment-app-data-ssl

[1-one-fragment-app-data-ssl]
server = 1-one-fragment-app-data-server
client = 1-one-fragment-app-data-client

[1-one-fragment-app-data-server]
Certificate = ${ENV::TEST_CERTS_DIR}/servercert.pem
CipherString = DEFAULT
PrivateKey = ${ENV::TEST_CERTS_DIR}/serverkey.pem

[1-one-fragment-app-data-client]
CipherString = DEFAULT
VerifyCAFile = ${ENV::TEST_CERTS_DIR}/rootcert.pem
VerifyMode = Peer

[test-1]
ApplicationData = 512


# ===========================================================

[2-one-fragment-plus-app-data]
ssl_conf = 2-one-fragment-plus-app-data-ssl

[2-one-fragment-plus-app-data-ssl]
server = 2-one-fragment-plus-app-data-server
client = 2-one-fragment-plus-app-data-client

[2-one-fragment-plus-app-data-server]
Certificate = ${ENV::TEST_CERTS_DIR}/servercert.pem
CipherString = DEFAULT
PrivateKey = ${ENV::TEST_CERTS_DIR}/serverkey.pem

[2-one-fragment-plus-app-data-client]
CipherString = DEFAULT
VerifyCAFile = ${ENV::TEST_CERTS_DIR}/rootcert.pem
VerifyMode = Peer

[test-2]
ApplicationData = 513


# ===========================================================

[3-small-app-data]
ssl_conf = 3-small-app-data-ssl

[3-small-app-data-ssl]
server = 3-small-app-data-server
client = 3-small-app-data-client

[3-small-app-data-server]
Certificate = ${ENV::TEST_CERTS_DIR}/servercert.pem
CipherString = DEFAULT
PrivateKey = ${ENV::TEST_CERTS_DIR}/serverkey.pem

[3-small-app-data-client]
CipherString = DEFAULT
VerifyCAFile = ${ENV::TEST_CERTS_DIR}/rootcert.pem
VerifyMode = Peer

[test-3]
ApplicationData = 4097


# ===========================================================

[4-small-app-data-large-fragment-size]
ssl_conf = 4-small-app-data-large-fragment-size-ssl

[4-small-app-data-large-fragment-size-ssl]
server = 4-small-app-data-large-fragment-size-server
client = 4-small-app-data-large-fragment-size-client

[4-small-app-data-large-fragment-size-server]
Certificate = ${ENV::TEST_CERTS_DIR}/servercert.pem
CipherString = DEFAULT
PrivateKey = ${ENV::TEST_CERTS_DIR}/serverkey.pem

[4-small-app-data-large-fragment-size-client]
CipherString = DEFAULT
VerifyCAFile = ${ENV::TEST_CERTS_DIR}/rootcert.pem
VerifyMode = Peer

[test-4]
ApplicationData = 4097
MaxFragmentSize = 16384


# ===========================================================

[5-medium-app-data]
ssl_conf = 5-medium-app-data-ssl

[5-medium-app-data-ssl]
server = 5-medium-app-data-server
client = 5-medium-app-data-client

[5-medium-app-data-server]
Certificate = ${ENV::TEST_CERTS_DIR}/servercert.pem
CipherString = DEFAULT
PrivateKey = ${ENV::TEST_CERTS_DIR}/serverkey.pem

[5-medium-app-data-client]
CipherString = DEFAULT
VerifyCAFile = ${ENV::TEST_CERTS_DIR}/rootcert.pem
VerifyMode = Peer

[test-5]
ApplicationData = 32775


# ===========================================================

[6-medium-plus-app-data]
ssl_conf = 6-medium-plus-app-data-ssl

[6-medium-plus-app-data-ssl]
server = 6-medium-plus-app-data-server
client = 6-medium-plus-app-data-client

[6-medium-plus-app-data-server]
Certificate = ${ENV::TEST_CERTS_DIR}/servercert.pem
CipherString = DEFAULT
PrivateKey = ${ENV::TEST_CERTS_DIR}/serverkey.pem

[6-medium-plus-app-data-client]
CipherString = DEFAULT
VerifyCAFile = ${ENV::TEST_CERTS_DIR}/rootcert.pem
VerifyMode = Peer

[test-6]
ApplicationData = 131069


# ===========================================================

[7-large-app-data]
ssl_conf = 7-large-app-data-ssl

[7-large-app-data-ssl]
server = 7-large-app-data-server
client = 7-large-app-data-client

[7-large-app-data-server]
Certificate = ${ENV::TEST_CERTS_DIR}/servercert.pem
CipherString = DEFAULT
PrivateKey = ${ENV::TEST_CERTS_DIR}/serverkey.pem

[7-large-app-data-client]
CipherString = DEFAULT
VerifyCAFile = ${ENV::TEST_CERTS_DIR}/rootcert.pem
VerifyMode = Peer

[test-7]
ApplicationData = 1048576


# ===========================================================

[8-large-app-data-large-fragment-size]
ssl_conf = 8-large-app-data-large-fragment-size-ssl

[8-large-app-data-large-fragment-size-ssl]
server = 8-large-app-data-large-fragment-size-server
client = 8-large-app-data-large-fragment-size-client

[8-large-app-data-large-fragment-size-server]
Certificate = ${ENV::TEST_CERTS_DIR}/servercert.pem
CipherString = DEFAULT
PrivateKey = ${ENV::TEST_CERTS_DIR}/serverkey.pem

[8-large-app-data-large-fragment-size-client]
CipherString = DEFAULT
VerifyCAFile = ${ENV::TEST_CERTS_DIR}/rootcert.pem
VerifyMode = Peer

[test-8]
ApplicationData = 1048576
MaxFragmentSize = 16384


# ===========================================================

[9-large-app-data-odd-fragment-size]
ssl_conf = 9-large-app-data-odd-fragment-size-ssl

[9-large-app-data-odd-fragment-size-ssl]
server = 9-large-app-data-odd-fragment-size-server
client = 9-large-app-data-odd-fragment-size-client

[9-large-app-data-odd-fragment-size-server]
Certificate = ${ENV::TEST_CERTS_DIR}/servercert.pem
CipherString = DEFAULT
PrivateKey = ${ENV::TEST_CERTS_DIR}/serverkey.pem

[9-large-app-data-odd-fragment-size-client]
CipherString = DEFAULT
VerifyCAFile = ${ENV::TEST_CERTS_DIR}/rootcert.pem
VerifyMode = Peer

[test-9]
ApplicationData = 1048576
MaxFragmentSize = 5115


# ===========================================================

[10-Maximum Fragment Len extension set to 1024 w. FragmentSize disabled]
ssl_conf = 10-Maximum Fragment Len extension set to 1024 w. FragmentSize disabled-ssl

[10-Maximum Fragment Len extension set to 1024 w. FragmentSize disabled-ssl]
server = 10-Maximum Fragment Len extension set to 1024 w. FragmentSize disabled-server
client = 10-Maximum Fragment Len extension set to 1024 w. FragmentSize disabled-client

[10-Maximum Fragment Len extension set to 1024 w. FragmentSize disabled-server]
Certificate = ${ENV::TEST_CERTS_DIR}/servercert.pem
CipherString = DEFAULT
PrivateKey = ${ENV::TEST_CERTS_DIR}/serverkey.pem

[10-Maximum Fragment Len extension set to 1024 w. FragmentSize disabled-client]
CipherString = DEFAULT
VerifyCAFile = ${ENV::TEST_CERTS_DIR}/rootcert.pem
VerifyMode = Peer

[test-10]
ApplicationData = 3072
ExpectedClientMaxRecvFragmentSize = 1024
ExpectedClientMaxSendFragmentSize = 1024
ExpectedServerMaxRecvFragmentSize = 1024
ExpectedServerMaxSendFragmentSize = 1024
MaxFragmentSize = 16384
client = 10-Maximum Fragment Len extension set to 1024 w. FragmentSize disabled-client-extra

[10-Maximum Fragment Len extension set to 1024 w. FragmentSize disabled-client-extra]
DisableRecordSizeLimit = Yes
MaxFragmentLenExt = 1024


# ===========================================================

[11-Maximum Fragment Len extension equal FragmentSize to 2048]
ssl_conf = 11-Maximum Fragment Len extension equal FragmentSize to 2048-ssl

[11-Maximum Fragment Len extension equal FragmentSize to 2048-ssl]
server = 11-Maximum Fragment Len extension equal FragmentSize to 2048-server
client = 11-Maximum Fragment Len extension equal FragmentSize to 2048-client

[11-Maximum Fragment Len extension equal FragmentSize to 2048-server]
Certificate = ${ENV::TEST_CERTS_DIR}/servercert.pem
CipherString = DEFAULT
PrivateKey = ${ENV::TEST_CERTS_DIR}/serverkey.pem

[11-Maximum Fragment Len extension equal FragmentSize to 2048-client]
CipherString = DEFAULT
VerifyCAFile = ${ENV::TEST_CERTS_DIR}/rootcert.pem
VerifyMode = Peer

[test-11]
ApplicationData = 3072
ExpectedClientMaxRecvFragmentSize = 2048
ExpectedClientMaxSendFragmentSize = 2048
ExpectedServerMaxRecvFragmentSize = 2048
ExpectedServerMaxSendFragmentSize = 2048
MaxFragmentSize = 2048
client = 11-Maximum Fragment Len extension equal FragmentSize to 2048-client-extra

[11-Maximum Fragment Len extension equal FragmentSize to 2048-client-extra]
DisableRecordSizeLimit = Yes
MaxFragmentLenExt = 2048


# ===========================================================

[12-Maximum Fragment Len extension 512 lower than FragmentSize 1024]
ssl_conf = 12-Maximum Fragment Len extension 512 lower than FragmentSize 1024-ssl

[12-Maximum Fragment Len extension 512 lower than FragmentSize 1024-ssl]
server = 12-Maximum Fragment Len extension 512 lower than FragmentSize 1024-server
client = 12-Maximum Fragment Len extension 512 lower than FragmentSize 1024-client

[12-Maximum Fragment Len extension 512 lower than FragmentSize 1024-server]
Certificate = ${ENV::TEST_CERTS_DIR}/servercert.pem
CipherString = DEFAULT
PrivateKey = ${ENV::TEST_CERTS_DIR}/serverkey.pem

[12-Maximum Fragment Len extension 512 lower than FragmentSize 1024-client]
CipherString = DEFAULT
VerifyCAFile = ${ENV::TEST_CERTS_DIR}/rootcert.pem
VerifyMode = Peer

[test-12]
ApplicationData = 3072
ExpectedClientMaxRecvFragmentSize = 512
ExpectedClientMaxSendFragmentSize = 512
ExpectedServerMaxRecvFragmentSize = 512
ExpectedServerMaxSendFragmentSize = 512
MaxFragmentSize = 1024
client = 12-Maximum Fragment Len extension 512 lower than FragmentSize 1024-client-extra

[12-Maximum Fragment Len extension 512 lower than FragmentSize 1024-client-extra]
DisableRecordSizeLimit = Yes
MaxFragmentLenExt = 512


# ===========================================================

[13-Maximum Fragment Len extension 2048 bigger than FragmentSize 1024]
ssl_conf = 13-Maximum Fragment Len extension 2048 bigger than FragmentSize 1024-ssl

[13-Maximum Fragment Len extension 2048 bigger than FragmentSize 1024-ssl]
server = 13-Maximum Fragment Len extension 2048 bigger than FragmentSize 1024-server
client = 13-Maximum Fragment Len extension 2048 bigger than FragmentSize 1024-client

[13-Maximum Fragment Len extension 2048 bigger than FragmentSize 1024-server]
Certificate = ${ENV::TEST_CERTS_DIR}/servercert.pem
CipherString = DEFAULT
PrivateKey = ${ENV::TEST_CERTS_DIR}/serverkey.pem

[13-Maximum Fragment Len extension 2048 bigger than FragmentSize 1024-client]
CipherString = DEFAULT
VerifyCAFile = ${ENV::TEST_CERTS_DIR}/rootcert.pem
VerifyMode = Peer

[test-13]
ApplicationData = 3072
ExpectedClientMaxRecvFragmentSize = 2048
ExpectedClientMaxSendFragmentSize = 1024
ExpectedServerMaxRecvFragmentSize = 2048
ExpectedServerMaxSendFragmentSize = 1024
MaxFragmentSize = 1024
client = 13-Maximum Fragment Len extension 2048 bigger than FragmentSize 1024-client-extra

[13-Maximum Fragment Len extension 2048 bigger than FragmentSize 1024-client-extra]
DisableRecordSizeLimit = Yes
MaxFragmentLenExt = 2048


# ===========================================================

[14-Maximum Fragment Len extension 4096 greater than FragmentSize 2048]
ssl_conf = 14-Maximum Fragment Len extension 4096 greater than FragmentSize 2048-ssl

[14-Maximum Fragment Len extension 4096 greater than FragmentSize 2048-ssl]
server = 14-Maximum Fragment Len extension 4096 greater than FragmentSize 2048-server
client = 14-Maximum Fragment Len extension 4096 greater than FragmentSize 2048-client

[14-Maximum Fragment Len extension 4096 greater than FragmentSize 2048-server]
Certificate = ${ENV::TEST_CERTS_DIR}/servercert.pem
CipherString = DEFAULT
PrivateKey = ${ENV::TEST_CERTS_DIR}/serverkey.pem

[14-Maximum Fragment Len extension 4096 greater than FragmentSize 2048-client]
CipherString = DEFAULT
VerifyCAFile = ${ENV::TEST_CERTS_DIR}/rootcert.pem
VerifyMode = Peer

[test-14]
ApplicationData = 8196
MaxFragmentSize = 2048
client = 14-Maximum Fragment Len extension 4096 greater than FragmentSize 2048-client-extra

[14-Maximum Fragment Len extension 4096 greater than FragmentSize 2048-client-extra]
DisableRecordSizeLimit = Yes
MaxFragmentLenExt = 4096


# ===========================================================

[15-Maximum Fragment Len extension 2048 greater than FragmentSize 1024]
ssl_conf = 15-Maximum Fragment Len extension 2048 greater than FragmentSize 1024-ssl

[15-Maximum Fragment Len extension 2048 greater than FragmentSize 1024-ssl]
server = 15-Maximum Fragment Len extension 2048 greater than FragmentSize 1024-server
client = 15-Maximum Fragment Len extension 2048 greater than FragmentSize 1024-client

[15-Maximum Fragment Len extension 2048 greater than FragmentSize 1024-server]
Certificate = ${ENV::TEST_CERTS_DIR}/servercert.pem
CipherString = DEFAULT
PrivateKey = ${ENV::TEST_CERTS_DIR}/serverkey.pem

[15-Maximum Fragment Len extension 2048 greater than FragmentSize 1024-client]
CipherString = DEFAULT
VerifyCAFile = ${ENV::TEST_CERTS_DIR}/rootcert.pem
VerifyMode = Peer

[test-15]
ApplicationData = 3072
MaxFragmentSize = 1024
client = 15-Maximum Fragment Len extension 2048 greater than FragmentSize 1024-client-extra

[15-Maximum Fragment Len extension 2048 greater than FragmentSize 1024-client-extra]
DisableRecordSizeLimit = Yes
MaxFragmentLenExt = 2048


# ===========================================================

[16-Record Size Limit extension negotiated, not asymmetric]
ssl_conf = 16-Record Size Limit extension negotiated, not asymmetric-ssl

[16-Record Size Limit extension negotiated, not asymmetric-ssl]
server = 16-Record Size Limit extension negotiated, not asymmetric-server
client = 16-Record Size Limit extension negotiated, not asymmetric-client

[16-Record Size Limit extension negotiated, not asymmetric-server]
Certificate = ${ENV::TEST_CERTS_DIR}/servercert.pem
CipherString = DEFAULT
PrivateKey = ${ENV::TEST_CERTS_DIR}/serverkey.pem

[16-Record Size Limit extension negotiated, not asymmetric-client]
CipherString = DEFAULT
VerifyCAFile = ${ENV::TEST_CERTS_DIR}/rootcert.pem
VerifyMode = Peer

[test-16]
ApplicationData = 32768
ExpectedClientMaxRecvFragmentSize = 64
ExpectedClientMaxSendFragmentSize = 64
ExpectedServerMaxRecvFragmentSize = 64
ExpectedServerMaxSendFragmentSize = 64
server = 16-Record Size Limit extension negotiated, not asymmetric-server-extra
client = 16-Record Size Limit extension negotiated, not asymmetric-client-extra

[16-Record Size Limit extension negotiated, not asymmetric-server-extra]
RecordSizeLimit = 64

[16-Record Size Limit extension negotiated, not asymmetric-client-extra]
RecordSizeLimit = 64


# ===========================================================

[17-Record Size Limit extension negotiated, asymmetric]
ssl_conf = 17-Record Size Limit extension negotiated, asymmetric-ssl

[17-Record Size Limit extension negotiated, asymmetric-ssl]
server = 17-Record Size Limit extension negotiated, asymmetric-server
client = 17-Record Size Limit extension negotiated, asymmetric-client

[17-Record Size Limit extension negotiated, asymmetric-server]
Certificate = ${ENV::TEST_CERTS_DIR}/servercert.pem
CipherString = DEFAULT
PrivateKey = ${ENV::TEST_CERTS_DIR}/serverkey.pem

[17-Record Size Limit extension negotiated, asymmetric-client]
CipherString = DEFAULT
VerifyCAFile = ${ENV::TEST_CERTS_DIR}/rootcert.pem
VerifyMode = Peer

[test-17]
ApplicationData = 32768
ExpectedClientMaxRecvFragmentSize = 128
ExpectedClientMaxSendFragmentSize = 1024
ExpectedServerMaxRecvFragmentSize = 1024
ExpectedServerMaxSendFragmentSize = 128
MaxFragmentSize = 16384
server = 17-Record Size Limit extension negotiated, asymmetric-server-extra
client = 17-Record Size Limit extension negotiated, asymmetric-client-extra

[17-Record Size Limit extension negotiated, asymmetric-server-extra]
RecordSizeLimit = 1024

[17-Record Size Limit extension negotiated, asymmetric-client-extra]
RecordSizeLimit = 128


# ===========================================================

[18-Record Size Limit extension not negotiated]
ssl_conf = 18-Record Size Limit extension not negotiated-ssl

[18-Record Size Limit extension not negotiated-ssl]
server = 18-Record Size Limit extension not negotiated-server
client = 18-Record Size Limit extension not negotiated-client

[18-Record Size Limit extension not negotiated-server]
Certificate = ${ENV::TEST_CERTS_DIR}/servercert.pem
CipherString = DEFAULT
PrivateKey = ${ENV::TEST_CERTS_DIR}/serverkey.pem

[18-Record Size Limit extension not negotiated-client]
CipherString = DEFAULT
VerifyCAFile = ${ENV::TEST_CERTS_DIR}/rootcert.pem
VerifyMode = Peer

[test-18]
ApplicationData = 32768
server = 18-Record Size Limit extension not negotiated-server-extra
client = 18-Record Size Limit extension not negotiated-client-extra

[18-Record Size Limit extension not negotiated-server-extra]
DisableRecordSizeLimit = Yes

[18-Record Size Limit extension not negotiated-client-extra]
RecordSizeLimit = 64


# ===========================================================

[19-Server rejects invalid Record Size Limit value]
ssl_conf = 19-Server rejects invalid Record Size Limit value-ssl

[19-Server rejects invalid Record Size Limit value-ssl]
server = 19-Server rejects invalid Record Size Limit value-server
client = 19-Server rejects invalid Record Size Limit value-client

[19-Server rejects invalid Record Size Limit value-server]
Certificate = ${ENV::TEST_CERTS_DIR}/servercert.pem
CipherString = DEFAULT
PrivateKey = ${ENV::TEST_CERTS_DIR}/serverkey.pem

[19-Server rejects invalid Record Size Limit value-client]
CipherString = DEFAULT
VerifyCAFile = ${ENV::TEST_CERTS_DIR}/rootcert.pem
VerifyMode = Peer

[test-19]
ExpectedResult = ServerFail
ExpectedServerAlert = IllegalParameter
client = 19-Server rejects invalid Record Size Limit value-client-extra

[19-Server rejects invalid Record Size Limit value-client-extra]
RecordSizeLimit = 20


# ===========================================================

[20-Client rejects invalid Record Size Limit value]
ssl_conf = 20-Client rejects invalid Record Size Limit value-ssl

[20-Client rejects invalid Record Size Limit value-ssl]
server = 20-Client rejects invalid Record Size Limit value-server
client = 20-Client rejects invalid Record Size Limit value-client

[20-Client rejects invalid Record Size Limit value-server]
Certificate = ${ENV::TEST_CERTS_DIR}/servercert.pem
CipherString = DEFAULT
PrivateKey = ${ENV::TEST_CERTS_DIR}/serverkey.pem

[20-Client rejects invalid Record Size Limit value-client]
CipherString = DEFAULT
VerifyCAFile = ${ENV::TEST_CERTS_DIR}/rootcert.pem
VerifyMode = Peer

[test-20]
ExpectedClientAlert = IllegalParameter
ExpectedResult = ClientFail
server = 20-Client rejects invalid Record Size Limit value-server-extra
client = 20-Client rejects invalid Record Size Limit value-client-extra

[20-Client rejects invalid Record Size Limit value-server-extra]
RecordSizeLimit = 20

[20-Client rejects invalid Record Size Limit value-client-extra]
RecordSizeLimit = 64


# ===========================================================

[21-Maximum Fragment Len extension 1024, Record Size Limit negotiated]
ssl_conf = 21-Maximum Fragment Len extension 1024, Record Size Limit negotiated-ssl

[21-Maximum Fragment Len extension 1024, Record Size Limit negotiated-ssl]
server = 21-Maximum Fragment Len extension 1024, Record Size Limit negotiated-server
client = 21-Maximum Fragment Len extension 1024, Record Size Limit negotiated-client

[21-Maximum Fragment Len extension 1024, Record Size Limit negotiated-server]
Certificate = ${ENV::TEST_CERTS_DIR}/servercert.pem
CipherString = DEFAULT
PrivateKey = ${ENV::TEST_CERTS_DIR}/serverkey.pem

[21-Maximum Fragment Len extension 1024, Record Size Limit negotiated-client]
CipherString = DEFAULT
VerifyCAFile = ${ENV::TEST_CERTS_DIR}/rootcert.pem
VerifyMode = Peer

[test-21]
ApplicationData = 32768
server = 21-Maximum Fragment Len extension 1024, Record Size Limit negotiated-server-extra
client = 21-Maximum Fragment Len extension 1024, Record Size Limit negotiated-client-extra

[21-Maximum Fragment Len extension 1024, Record Size Limit negotiated-server-extra]

[21-Maximum Fragment Len extension 1024, Record Size Limit negotiated-client-extra]
RecordSizeLimit = 64


# ===========================================================

[22-large-app-data-aes-sha1-multibuffer]
ssl_conf = 22-large-app-data-aes-sha1-multibuffer-ssl

[22-large-app-data-aes-sha1-multibuffer-ssl]
server = 22-large-app-data-aes-sha1-multibuffer-server
client = 22-large-app-data-aes-sha1-multibuffer-client

[22-large-app-data-aes-sha1-multibuffer-server]
Certificate = ${ENV::TEST_CERTS_DIR}/servercert.pem
CipherString = DEFAULT
PrivateKey = ${ENV::TEST_CERTS_DIR}/serverkey.pem

[22-large-app-data-aes-sha1-multibuffer-client]
CipherString = AES128-SHA
MaxProtocol = TLSv1.2
VerifyCAFile = ${ENV::TEST_CERTS_DIR}/rootcert.pem
VerifyMode = Peer

[test-22]
ApplicationData = 1048576
MaxFragmentSize = 4096


# ===========================================================

[23-large-app-data-aes-sha2-multibuffer]
ssl_conf = 23-large-app-data-aes-sha2-multibuffer-ssl

[23-large-app-data-aes-sha2-multibuffer-ssl]
server = 23-large-app-data-aes-sha2-multibuffer-server
client = 23-large-app-data-aes-sha2-multibuffer-client

[23-large-app-data-aes-sha2-multibuffer-server]
Certificate = ${ENV::TEST_CERTS_DIR}/servercert.pem
CipherString = DEFAULT
PrivateKey = ${ENV::TEST_CERTS_DIR}/serverkey.pem

[23-large-app-data-aes-sha2-multibuffer-client]
CipherString = AES128-SHA256
MaxProtocol = TLSv1.2
VerifyCAFile = ${ENV::TEST_CERTS_DIR}/rootcert.pem
VerifyMode = Peer

[test-23]
ApplicationData = 1048576
MaxFragmentSize = 4096


# ===========================================================

[24-large-app-data-aes-sha1-multibuffer-odd-fragment]
ssl_conf = 24-large-app-data-aes-sha1-multibuffer-odd-fragment-ssl

[24-large-app-data-aes-sha1-multibuffer-odd-fragment-ssl]
server = 24-large-app-data-aes-sha1-multibuffer-odd-fragment-server
client = 24-large-app-data-aes-sha1-multibuffer-odd-fragment-client

[24-large-app-data-aes-sha1-multibuffer-odd-fragment-server]
Certificate = ${ENV::TEST_CERTS_DIR}/servercert.pem
CipherString = DEFAULT
PrivateKey = ${ENV::TEST_CERTS_DIR}/serverkey.pem

[24-large-app-data-aes-sha1-multibuffer-odd-fragment-client]
CipherString = AES128-SHA
MaxProtocol = TLSv1.2
VerifyCAFile = ${ENV::TEST_CERTS_DIR}/rootcert.pem
VerifyMode = Peer

[test-24]
ApplicationData = 1048579
MaxFragmentSize = 5115


# ===========================================================

[25-large-app-data-aes-sha2-multibuffer-odd-fragment]
ssl_conf = 25-large-app-data-aes-sha2-multibuffer-odd-fragment-ssl

[25-large-app-data-aes-sha2-multibuffer-odd-fragment-ssl]
server = 25-large-app-data-aes-sha2-multibuffer-odd-fragment-server
client = 25-large-app-data-aes-sha2-multibuffer-odd-fragment-client

[25-large-app-data-aes-sha2-multibuffer-odd-fragment-server]
Certificate = ${ENV::TEST_CERTS_DIR}/servercert.pem
CipherString = DEFAULT
PrivateKey = ${ENV::TEST_CERTS_DIR}/serverkey.pem

[25-large-app-data-aes-sha2-multibuffer-odd-fragment-client]
CipherString = AES128-SHA256
MaxProtocol = TLSv1.2
VerifyCAFile = ${ENV::TEST_CERTS_DIR}/rootcert.pem
VerifyMode = Peer

[test-25]
ApplicationData = 1048573
MaxFragmentSize = 5125


# ===========================================================

[26-small-app-data-aes-sha1-multibuffer]
ssl_conf = 26-small-app-data-aes-sha1-multibuffer-ssl

[26-small-app-data-aes-sha1-multibuffer-ssl]
server = 26-small-app-data-aes-sha1-multibuffer-server
client = 26-small-app-data-aes-sha1-multibuffer-client

[26-small-app-data-aes-sha1-multibuffer-server]
Certificate = ${ENV::TEST_CERTS_DIR}/servercert.pem
CipherString = DEFAULT
PrivateKey = ${ENV::TEST_CERTS_DIR}/serverkey.pem

[26-small-app-data-aes-sha1-multibuffer-client]
CipherString = AES128-SHA
MaxProtocol = TLSv1.2
VerifyCAFile = ${ENV::TEST_CERTS_DIR}/rootcert.pem
VerifyMode = Peer

[test-26]
ApplicationData = 4096
MaxFragmentSize = 4096


# ===========================================================

[27-small-app-data-aes-sha2-multibuffer]
ssl_conf = 27-small-app-data-aes-sha2-multibuffer-ssl

[27-small-app-data-aes-sha2-multibuffer-ssl]
server = 27-small-app-data-aes-sha2-multibuffer-server
client = 27-small-app-data-aes-sha2-multibuffer-client

[27-small-app-data-aes-sha2-multibuffer-server]
Certificate = ${ENV::TEST_CERTS_DIR}/servercert.pem
CipherString = DEFAULT
PrivateKey = ${ENV::TEST_CERTS_DIR}/serverkey.pem

[27-small-app-data-aes-sha2-multibuffer-client]
CipherString = AES128-SHA256
MaxProtocol = TLSv1.2
VerifyCAFile = ${ENV::TEST_CERTS_DIR}/rootcert.pem
VerifyMode = Peer

[test-27]
ApplicationData = 4096
MaxFragmentSize = 4096


