#
# Basic .gitignore for C/C++
#

# Ignore executable from makefile
sslecho

# Ignored folders.
/**/Archive/
/**/RemoteSystemsTempFiles/
/**/eraseme/
/**/eraseme
/**/Debug/
/**/Release/
/**/.idea
*.orig

# Core dumps
core

# Emulator flag files.
emu-*

# Tar & zip files (but not symlinks or metadata).
*.tar.gz
*.tgz
*.zip

# Eclipse data.
# Old: Keeping these so that the workspace knows about
#	   projects and debug settings.
# New: Settings changes cause unwanted merge conflicts.
#
.settings
.metadata

# Eclipse (or other) temporary projects
# Z-*

# Compiled artifacts.
*.hex
*.lst
*.map
*.o
*.elf
*.bin

# Prerequisites
*.d

# Compiled libraries
*.lib
*.a

# Items we need to keep.
!EclipseWorkspaceMetadata.tgz

