##
## Ninja build file for OpenSSL
##
## {- join("\n## ", @autowarntext) -}
{-
     use File::Basename;
     use File::Spec::Functions qw/:DEFAULT abs2rel rel2abs file_name_is_absolute/;
     use Time::Piece;

     use OpenSSL::Util;

     my $build_scheme = $target{build_scheme};
     our $builder_platform = $build_scheme->[1];
     die "The Ninja build template currently supports Unix-like targets only\n"
         if $builder_platform ne 'unix';

     our $makedep_scheme = $config{makedep_scheme};
     our $makedepcmd = $config{makedepcmd} // '';

     sub windowsdll { $config{target} =~ /^(?:Cygwin|mingw)/ }
     sub sharedaix  { !$disabled{shared} && $target{shared_target} =~ /^aix(?!-solib$)/ }
     sub sharedaix_solib  { !$disabled{shared} && $target{shared_target} =~ /^aix-solib$/ }

     sub nval {
         my $s = shift // '';
         $s =~ s/\$/\$\$/g;
         $s =~ s/\r?\n/ /g;
         return $s;
     }

     sub npath {
         my $s = shift;
         return () unless defined $s && $s ne '';
         $s =~ s/\$/\$\$/g;
         $s =~ s/ /\$ /g;
         $s =~ s/:/\$:/g;
         return $s;
     }

     sub npaths {
         return join(' ', map { npath($_) } grep { defined $_ && $_ ne '' } @_);
     }

     sub cmd_quote {
         my $s = shift // '';
         return "''" if $s eq '';
         return $s if $s !~ m|[^A-Za-z0-9_/\.,:=+\@%-]|;
         $s =~ s/'/'\\''/g;
         return "'$s'";
     }

     sub shell_join {
         return join(' ', grep { defined $_ && $_ ne '' } @_);
     }

     sub ninja_build {
         my %args = @_;
         my @outs = ref($args{out}) eq 'ARRAY' ? @{$args{out}} : ($args{out});
         my @in = @{$args{in} // []};
         my @implicit = @{$args{implicit} // []};
         my @order = @{$args{order} // []};
         my $result = 'build '.npaths(@outs).' : '.$args{rule};
         $result .= ' '.npaths(@in) if @in;
         $result .= ' | '.npaths(@implicit) if @implicit;
         $result .= ' || '.npaths(@order) if @order;
         $result .= "\n";
         foreach my $k (sort keys %{$args{vars} // {}}) {
             my $v = $args{vars}->{$k};
             next unless defined $v && $v ne '';
             $result .= "  $k = ".nval($v)."\n";
         }
         return $result;
     }

     sub run_build {
         my ($out, $command, $in, $implicit, $order, $desc) = @_;
         return ninja_build(out => $out, rule => 'run',
                            in => $in // [], implicit => $implicit // [],
                            order => $order // [],
                            vars => { command => $command,
                                      description => $desc // "GEN $out" });
     }

     sub run_console_build {
         my ($out, $command, $in, $implicit, $order, $desc) = @_;
         return ninja_build(out => $out, rule => 'run_console',
                            in => $in // [], implicit => $implicit // [],
                            order => $order // [],
                            vars => { command => $command,
                                      description => $desc // $out });
     }

     our $perl = (fixup_cmd_elements($config{PERL}))[0];
     our $cc = $config{CROSS_COMPILE}.$config{CC};
     our $cxx = $config{CXX} ? $config{CROSS_COMPILE}.$config{CXX} : '';
     our $ar = $config{CROSS_COMPILE}.$config{AR};
     our $ranlib = $config{RANLIB} ? $config{CROSS_COMPILE}.$config{RANLIB} : 'true';
     our $rc = $config{CROSS_COMPILE}.$config{RC};

     our $prefix = $config{prefix} || "/usr/local";
     our $openssldir =
         $config{openssldir}
         ? (file_name_is_absolute($config{openssldir})
            ? $config{openssldir}
            : catdir($prefix, $config{openssldir}))
         : catdir($prefix, "ssl");
     our $libdir = $config{libdir} || "lib$target{multilib}";
     our $libdir_abs = file_name_is_absolute($libdir) ? $libdir
                                                      : catdir($prefix, $libdir);
     our $modulesdir = catdir($libdir_abs, "ossl-modules");
     our $pkgconfigdir = catdir($libdir_abs, "pkgconfig");
     our $cmakeconfigdir = catdir($libdir_abs, "cmake", "OpenSSL");
     our @fipsmodules =
         grep { !$unified_info{attributes}->{modules}->{$_}->{noinst}
                && $unified_info{attributes}->{modules}->{$_}->{fips} }
         @{$unified_info{modules}};
     die "More than one FIPS module" if scalar @fipsmodules > 1;
     our $fipsmodule = join(" ", map { platform->dso($_) } @fipsmodules);

     my $cppflags1 =
         join(" ",
              (map { "-D".$_} @{$config{CPPDEFINES}}),
              (map { "-I".$_} @{$config{CPPINCLUDES}}),
              @{$config{CPPFLAGS}});
     my $cppflags2 =
         join(' ', $target{cppflags} || (),
                   (map { "-D".$_} @{$target{defines}}, @{$config{defines}}),
                   (map { "-I".$_ } @{$target{includes}}, @{$config{includes}}),
                   @{$config{cppflags}});
     my $cnf_cflags = join(' ', $target{cflags} || (), @{$config{cflags}});
     my $cnf_cxxflags = join(' ', $target{cxxflags} || (), @{$config{cxxflags}});
     my $cnf_lflags = join(' ', $target{lflags} || (), @{$config{lflags}});
     my $cnf_ex_libs = join(' ', $target{ex_libs} || (), @{$config{ex_libs}});

     our $lib_cppflags =
         join(' ', $target{lib_cppflags} || (),
                   $target{shared_cppflag} || (),
                   (map { '-D'.$_ }
                        @{$target{lib_defines}},
                        @{$target{shared_defines}},
                        @{$config{lib_defines}},
                        @{$config{shared_defines}}),
                   (map { '-I'.$_ }
                        @{$target{lib_includes}},
                        @{$target{shared_includes}},
                        @{$config{lib_includes}},
                        @{$config{shared_includes}}),
                   @{$config{lib_cppflags}},
                   @{$config{shared_cppflag}},
                   (map { '-D'.$_ }
                        'OPENSSLDIR="\"'.$openssldir.'\""',
                        'MODULESDIR="\"'.$modulesdir.'\""'),
                   $cppflags2, $cppflags1);
     our $lib_cflags =
         join(' ', $target{lib_cflags} || (),
                   $target{shared_cflag} || (),
                   @{$config{lib_cflags}},
                   @{$config{shared_cflag}},
                   $cnf_cflags, @{$config{CFLAGS}});
     our $lib_cxxflags =
         join(' ', $target{lib_cxxflags} || (),
                   $target{shared_cxxflag} || (),
                   @{$config{lib_cxxflags}},
                   @{$config{shared_cxxflag}},
                   $cnf_cxxflags, @{$config{CXXFLAGS}});
     our $lib_lflags =
         join(' ', $target{shared_ldflag} || (),
                   $config{shared_ldflag} || (),
                   $cnf_lflags, @{$config{LDFLAGS}});
     our $lib_ex_libs = join(' ', $cnf_ex_libs, @{$config{LDLIBS}});

     our $dso_cppflags =
         join(' ', $target{dso_cppflags} || (),
                   $target{module_cppflags} || (),
                   (map { '-D'.$_ }
                        @{$target{dso_defines}},
                        @{$target{module_defines}},
                        @{$config{dso_defines}},
                        @{$config{module_defines}}),
                   (map { '-I'.$_ }
                        @{$target{dso_includes}},
                        @{$target{module_includes}},
                        @{$config{dso_includes}},
                        @{$config{module_includes}}),
                   @{$config{dso_cppflags}},
                   @{$config{module_cppflags}},
                   $cppflags2, $cppflags1);
     our $dso_cflags =
         join(' ', $target{dso_cflags} || (),
                   $target{module_cflags} || (),
                   @{$config{dso_cflags}},
                   @{$config{module_cflags}},
                   $cnf_cflags, @{$config{CFLAGS}});
     our $dso_cxxflags =
         join(' ', $target{dso_cxxflags} || (),
                   $target{module_cxxflags} || (),
                   @{$config{dso_cxxflags}},
                   @{$config{module_cxxflag}},
                   $cnf_cxxflags, @{$config{CXXFLAGS}});
     our $dso_lflags =
         join(' ', $target{dso_lflags} || (),
                   $target{module_ldflags} || (),
                   @{$config{dso_lflags}},
                   @{$config{module_ldflags}},
                   $cnf_lflags, @{$config{LDFLAGS}});
     our $dso_ex_libs = join(' ', $cnf_ex_libs, @{$config{LDLIBS}});

     our $bin_cppflags =
         join(' ', $target{bin_cppflags} || (),
                   (map { '-D'.$_ } @{$config{bin_defines} || ()}),
                   @{$config{bin_cppflags}},
                   $cppflags2, $cppflags1);
     our $bin_cflags =
         join(' ', $target{bin_cflags} || (),
                   @{$config{bin_cflags}},
                   $cnf_cflags, @{$config{CFLAGS}});
     our $bin_cxxflags =
         join(' ', $target{bin_cxxflags} || (),
                   @{$config{bin_cxxflags}},
                   $cnf_cxxflags, @{$config{CXXFLAGS}});
     our $bin_lflags =
         join(' ', $target{bin_lflags} || (),
                   @{$config{bin_lflags}},
                   $cnf_lflags, @{$config{LDFLAGS}});
     our $bin_ex_libs = join(' ', $cnf_ex_libs, @{$config{LDLIBS}});

     our $cppflags_q = do {
         my $x = join(' ', $lib_cppflags || (), $cppflags2 || (),
                           $cppflags1 || ());
         $x =~ s|([\\"])|\\$1|g;
         $x;
     };

     my $t = localtime;
     if ($config{"release_date"}) {
         eval { $t = Time::Piece->strptime($config{"release_date"}, "%d %b %Y"); }
             || die "Parsing \$config{release_date} ('$config{release_date}') failed: $@";
     }
     our $release_date = $t->strftime("%Y-%m-%d");

     our %makevars = (
         APPS_OPENSSL => cmd_quote(catfile("apps", "openssl")),
         BINDIR => "bin$target{multibin}",
         BLDDIR => $config{builddir},
         CC => $cc,
         CMAKECONFIGDIR => $cmakeconfigdir,
         CPPFLAGS_Q => $cppflags_q,
         FIPSKEY => $config{FIPSKEY},
         FIPSMODULE => $fipsmodule,
         INCLUDEDIR => "include",
         INSTALLTOP => $prefix,
         LDLIBS => $lib_ex_libs,
         LIBDIR => $libdir,
         LIB_EX_LIBS => $lib_ex_libs,
         LIB_CFLAGS => $lib_cflags,
         MODULESDIR => $modulesdir,
         PKGCONFIGDIR => $pkgconfigdir,
         PLATFORM => $config{target},
         PREFIX => $prefix,
         SRCDIR => $config{sourcedir},
         SHLIB_TARGET => $target{shared_target},
         SHLIB_VERSION_NUMBER => $config{shlib_version},
         VERSION => $config{full_version},
         LIBRPATH => $libdir_abs,
         libdir => $libdir_abs,
     );

     sub expand_makevars {
         my $s = shift;
         $s =~ s/\$\(([^)]+)\)/exists $makevars{$1} ? $makevars{$1} : "\$($1)"/ge;
         return $s;
     }

     $lib_cppflags = expand_makevars($lib_cppflags);
     $lib_cflags = expand_makevars($lib_cflags);
     $lib_cxxflags = expand_makevars($lib_cxxflags);
     $lib_lflags = expand_makevars($lib_lflags);
     $lib_ex_libs = expand_makevars($lib_ex_libs);
     $dso_cppflags = expand_makevars($dso_cppflags);
     $dso_cflags = expand_makevars($dso_cflags);
     $dso_cxxflags = expand_makevars($dso_cxxflags);
     $dso_lflags = expand_makevars($dso_lflags);
     $dso_ex_libs = expand_makevars($dso_ex_libs);
     $bin_cppflags = expand_makevars($bin_cppflags);
     $bin_cflags = expand_makevars($bin_cflags);
     $bin_cxxflags = expand_makevars($bin_cxxflags);
     $bin_lflags = expand_makevars($bin_lflags);
     $bin_ex_libs = expand_makevars($bin_ex_libs);

     sub command_args {
         return join('', map { ' '.expand_makevars($_) } @_);
     }

     sub compute_lib_depends {
         return map { platform->sharedlib_simple($_)
                      // platform->sharedlib_import($_)
                      // platform->sharedlib($_)
                      // platform->staticlib($_) } @_;
     }

     sub compute_platform_depends {
         map {
             my $x = $_;
             if (grep { $x eq $_ } @{$unified_info{programs}}) {
                 platform->bin($x);
             } elsif (grep { $x eq $_ } @{$unified_info{modules}}) {
                 platform->dso($x);
             } elsif (grep { $x eq $_ } @{$unified_info{libraries}}) {
                 compute_lib_depends($x);
             } else {
                 platform->convertext($x);
             }
         } @_;
     }

     sub link_flags {
         my @linkdirs = ();
         my @linklibs = ();
         foreach (@_) {
             next unless defined $_;
             if (platform->isstaticlib($_)) {
                 push @linklibs, platform->convertext($_);
             } else {
                 my $d = "-L" . dirname($_);
                 my $l = basename($_);
                 $l =~ s/^lib//;
                 $l = "-l" . $l;
                 push @linklibs, $l;
                 push @linkdirs, $d unless grep { $d eq $_ } @linkdirs;
             }
         }
         return (join(" ", @linkdirs), join(" ", @linklibs));
     }

     '';
-}
ninja_required_version = 1.8

platform = {- nval($config{target}) -}
srcdir = {- nval($config{sourcedir}) -}
blddir = {- nval($config{builddir}) -}
perl = {- nval($perl) -}
cc = {- nval($cc) -}
cxx = {- nval($cxx) -}
ar = {- nval($ar) -}
ranlib = {- nval($ranlib) -}
rc = {- nval($rc) -}
makedepcmd = {- nval($makedepcmd) -}

rule run
  command = $command
  description = $description
  restat = 1

rule run_console
  command = $command
  description = $description
  pool = console

rule cc
  command = $cmd $incs $defs $cmdflags -MMD -MF $depfile -c -o $out $srcs
  depfile = $depfile
  deps = gcc
  description = CC $out

rule cc_makedepend
  command = $cmd $incs $defs $cmdflags $cmdcompile -o $out $srcs && $perl "$srcdir/util/ninja-makedepend.pl" "$out" "$depfile" "$makedepcmd" -f- -Y -- $incs $defs $cmdflags -- $srcs
  depfile = $depfile
  deps = gcc
  description = CC $out

rule cc_nodep
  command = $cmd $incs $defs $cmdflags $cmdcompile -o $out $srcs
  description = CC $out

rule ar
  command = $perl "$srcdir/util/ninja-ar.pl" --ar "$ar" --arflags "$arflags" --ranlib "$ranlib" --out "$out" --rsp "$out.rsp"
  rspfile = $out.rsp
  rspfile_content = $in
  description = AR $out

rule link
  command = $command
  description = LINK $out

rule regen_build
  command = {- nval($perl) -} configdata.pm
  description = REGEN build.ninja
  generator = 1

rule regen_config
  command = {- nval($perl) -} configdata.pm -r
  description = RECONF configdata.pm
  generator = 1

build build.ninja: regen_build configdata.pm | {- npaths(@{$config{build_file_templates}}) -}
build configdata.pm: regen_config {- npaths(catfile($config{sourcedir}, "Configure"), catfile($config{sourcedir}, "config"), @{$config{build_infos}}, @{$config{conf_files}}) -}

build reconfigure reconf: run_console
  command = {- nval($perl) -} configdata.pm -r
  description = RECONF

{-
     my @libs =
         map { platform->staticlib($_) // () } @{$unified_info{libraries}};
     my @shlib_deps =
         map { platform->sharedlib_simple($_)
               // platform->sharedlib_import($_)
               // platform->sharedlib($_)
               // () } @{$unified_info{libraries}};
     my @modules =
         map { platform->dso($_) }
         grep { my $x = $_;
                !grep { grep { $_ eq $x } @$_ } values %{$unified_info{depends}} }
         @{$unified_info{modules}};
     my @programs = map { platform->bin($_) } @{$unified_info{programs}};
     my @scripts = @{$unified_info{scripts}};
     my @install_programs =
         map { platform->bin($_) }
         grep { !$unified_info{attributes}->{programs}->{$_}->{noinst} }
         @{$unified_info{programs}};
     my @install_libs =
         map { platform->staticlib($_) // () }
         grep { !$unified_info{attributes}->{libraries}->{$_}->{noinst} }
         @{$unified_info{libraries}};
     my @install_modules =
         map { platform->dso($_) }
         grep { !$unified_info{attributes}->{modules}->{$_}->{noinst}
                && !$unified_info{attributes}->{modules}->{$_}->{fips} }
         @{$unified_info{modules}};
     my @install_fipsmoduleconf =
         $disabled{fips} ? () : (catfile("providers", "fipsmodule.cnf"));
     my @bin_scripts =
         grep { !$unified_info{attributes}->{scripts}->{$_}->{noinst}
                && !$unified_info{attributes}->{scripts}->{$_}->{misc} }
         @scripts;
     my @misc_scripts =
         grep { !$unified_info{attributes}->{scripts}->{$_}->{noinst}
                && $unified_info{attributes}->{scripts}->{$_}->{misc} }
         @scripts;
     my @generated_mandatory = @{$unified_info{depends}->{""}};
     my @all_generated = map { platform->convertext($_) } @generated;
     my @generated_pods =
         map { my $x = $_;
               (grep {
                   $unified_info{attributes}->{depends}->{$x}->{$_}->{pod} // 0
                } keys %{$unified_info{attributes}->{depends}->{$x}}) ? $x : ();
         } @generated;
     my @htmldocs = map { @{$unified_info{htmldocs}->{$_}} } qw(man1 man3 man5 man7);
     my @mandocs = map { @{$unified_info{mandocs}->{$_}} } qw(man1 man3 man5 man7);
     my @utils = ();
     @utils = (catfile("util", "opensslwrap.sh"), catfile("apps", "openssl.cnf"))
         if $config{sourcedir} ne $config{builddir};

     our %manual_phony_targets = ();

     my $target = sub {
         my ($name, @deps) = @_;
         $manual_phony_targets{$name} = 1;
         push @deps, compute_platform_depends(@{$unified_info{depends}->{$name} // []});
         my %seen;
         @deps = grep { !$seen{$_}++ } @deps;
         return ninja_build(out => $name, rule => 'phony', in => \@deps);
     };

     my $out = '';
     my $ninja_build = cmd_quote(catfile($config{sourcedir},
                                         "util", "ninja-build.pl"));
     my $action = sub { $perl.' '.$ninja_build.' '.cmd_quote($_[0]); };

     $out .= $target->('build_sw', 'build_generated', 'build_libs_nodep',
                       'build_modules_nodep', 'build_programs_nodep',
                       'link-utils');
     $out .= $target->('build_libs', 'build_generated', 'build_libs_nodep');
     $out .= $target->('build_modules', 'build_generated', 'build_modules_nodep');
     $out .= $target->('build_programs', 'build_generated',
                       'build_programs_nodep');
     $out .= $target->('build_inst_sw', 'build_generated', 'build_libs_nodep',
                       'build_modules_nodep', 'build_inst_programs_nodep',
                       'link-utils');
     $out .= $target->('build_inst_programs', 'build_generated',
                       'build_inst_programs_nodep');
     $out .= $target->('all', 'build_sw', ($disabled{docs} ? () : 'build_docs'));
     $out .= $target->('build_generated_pods', @generated_pods);
     $out .= $target->('build_docs', 'build_man_docs', 'build_html_docs');
     $out .= $target->('build_man_docs', @mandocs);
     $out .= $target->('build_html_docs', @htmldocs);
     $out .= $target->('build_generated', @generated_mandatory);
     $out .= $target->('build_libs_nodep', @libs, @shlib_deps);
     $out .= $target->('build_modules_nodep', @modules);
     $out .= $target->('build_programs_nodep', @programs, @scripts);
     $out .= $target->('build_inst_programs_nodep', @install_programs, @scripts);
     $out .= $target->('build_apps', 'build_programs');
     $out .= $target->('build_tests', 'build_programs');
     $out .= $target->('build_all_generated', @generated_mandatory,
                       @all_generated, 'build_docs');
     $out .= $target->('link-utils', @utils);
     $out .= $target->('install', 'install_sw', 'install_ssldirs',
                       ($disabled{docs} ? () : 'install_docs'),
                       ($disabled{fips} ? () : 'install_fips'));
     $out .= $target->('uninstall',
                       ($disabled{docs} ? () : 'uninstall_docs'),
                       'uninstall_sw',
                       ($disabled{fips} ? () : 'uninstall_fips'));
     $out .= $target->('install_sw', 'install_dev', 'install_modules',
                       'install_runtime');
     $out .= $target->('uninstall_sw', 'uninstall_runtime',
                       'uninstall_modules', 'uninstall_dev');
     $out .= $target->('install_docs', 'install_man_docs',
                       'install_html_docs');
     $out .= $target->('install_runtime', 'install_programs');
     $out .= $target->('uninstall_runtime', 'uninstall_programs',
                       'uninstall_runtime_libs');

     $out .= run_console_build('clean', $action->('clean'), [], [], [],
                               'CLEAN');
     $out .= run_console_build('distclean', $action->('distclean'),
                               [ 'clean' ], [], [], 'DISTCLEAN');
     $out .= run_console_build('depend', $action->('depend'), [], [], [],
                               'DEPEND');
     $out .= run_console_build('install_ssldirs',
                               $action->('install_ssldirs'),
                               [ @misc_scripts ], [], [], 'INSTALL SSLDIRS');
     $out .= run_console_build('install_runtime_libs',
                               $action->('install_runtime_libs'),
                               [ 'build_libs' ], [], [], 'INSTALL RUNTIME LIBS');
     $out .= run_console_build('install_dev', $action->('install_dev'),
                               [ 'install_runtime_libs', @install_libs ],
                               [], [], 'INSTALL DEV');
     $out .= run_console_build('install_modules',
                               $action->('install_modules'),
                               [ 'install_runtime_libs', 'build_modules',
                                 @install_modules ],
                               [], [], 'INSTALL MODULES');
     $out .= run_console_build('install_programs',
                               $action->('install_programs'),
                               [ 'install_runtime_libs',
                                 'build_inst_programs', @install_programs,
                                 @bin_scripts ],
                               [], [], 'INSTALL PROGRAMS');
     $out .= run_console_build('install_fips', $action->('install_fips'),
                               [ 'build_inst_sw', @install_fipsmoduleconf ],
                               [], [], 'INSTALL FIPS');
     $out .= run_console_build('install_man_docs',
                               $action->('install_man_docs'),
                               [ 'build_man_docs' ], [], [],
                               'INSTALL MAN DOCS');
     $out .= run_console_build('install_image_docs',
                               $action->('install_image_docs'),
                               [], [], [], 'INSTALL IMAGE DOCS');
     $out .= run_console_build('install_html_docs',
                               $action->('install_html_docs'),
                               [ 'install_image_docs', 'build_html_docs' ],
                               [], [], 'INSTALL HTML DOCS');
     $out .= run_console_build('uninstall_runtime_libs',
                               $action->('uninstall_runtime_libs'),
                               [], [], [], 'UNINSTALL RUNTIME LIBS');
     $out .= run_console_build('uninstall_dev',
                               $action->('uninstall_dev'),
                               [ 'uninstall_runtime_libs' ], [], [],
                               'UNINSTALL DEV');
     $out .= run_console_build('uninstall_modules',
                               $action->('uninstall_modules'),
                               [], [], [], 'UNINSTALL MODULES');
     $out .= run_console_build('uninstall_programs',
                               $action->('uninstall_programs'),
                               [], [], [], 'UNINSTALL PROGRAMS');
     $out .= run_console_build('uninstall_fips',
                               $action->('uninstall_fips'),
                               [], [], [], 'UNINSTALL FIPS');
     $out .= run_console_build('uninstall_man_docs',
                               $action->('uninstall_man_docs'),
                               [ 'build_man_docs' ], [], [],
                               'UNINSTALL MAN DOCS');
     $out .= run_console_build('uninstall_image_docs',
                               $action->('uninstall_image_docs'),
                               [], [], [], 'UNINSTALL IMAGE DOCS');
     $out .= run_console_build('uninstall_html_docs',
                               $action->('uninstall_html_docs'),
                               [ 'uninstall_image_docs' ], [], [],
                               'UNINSTALL HTML DOCS');
     $out .= run_console_build('uninstall_docs',
                               $action->('uninstall_docs'),
                               [ 'uninstall_man_docs',
                                 'uninstall_html_docs' ],
                               [], [], 'UNINSTALL DOCS');

     if (@utils) {
         foreach my $pair ([ catfile("util", "opensslwrap.sh"),
                             catfile($config{sourcedir}, "util", "opensslwrap.sh"),
                             "util" ],
                           [ catfile("apps", "openssl.cnf"),
                             catfile($config{sourcedir}, "apps", "openssl.cnf"),
                             "apps" ]) {
             my ($dst, $src, $dir) = @$pair;
             $out .= run_build($dst,
                               'mkdir -p '.cmd_quote($dir)
                               .' && ln -sf '.cmd_quote("../$src")
                               .' '.cmd_quote($dst),
                               [ 'build.ninja' ], [ $src ], [], "LN $dst");
         }
     }

     my $test_command;
     my $list_command;
     if ($disabled{tests}) {
         $test_command = $list_command =
             'echo "Tests are not supported with your chosen Configure options"';
     } else {
         $test_command =
             'SRCTOP='.cmd_quote($config{sourcedir})
             .' BLDTOP='.cmd_quote($config{builddir})
             .' PERL='.cmd_quote($config{PERL})
             .' FIPSKEY='.cmd_quote($config{FIPSKEY})
             .' EXE_EXT='.cmd_quote(platform->binext())
             .' '.$perl.' '.cmd_quote(catfile($config{sourcedir}, "test", "run_tests.pl"))
             .' ${TESTS}';
         $list_command =
             'SRCTOP='.cmd_quote($config{sourcedir})
             .' '.$perl.' '.cmd_quote(catfile($config{sourcedir}, "test", "run_tests.pl"))
             .' list';
     }
     $out .= run_console_build('run_tests', $test_command,
                               [ 'build_generated',
                                 'build_programs_nodep',
                                 'build_modules_nodep',
                                 'link-utils' ], [], [], 'TEST');
     $out .= $target->('tests', 'run_tests');
     $out .= $target->('test', 'tests');
     $out .= run_console_build('list-tests', $list_command, [], [], [],
                               'LIST TESTS');
     $out .= run_console_build('help',
                               'echo "Use ninja -t targets to list targets"',
                               [], [], [], 'HELP');
     $out .= "\ndefault all\n\n";
     $out;
-}

{- # Building targets #####################################################

  sub generatetarget {
      my %args = @_;
      our %manual_phony_targets;
      return '' if $manual_phony_targets{$args{target}};
      my @deps = compute_platform_depends(@{$args{deps}});
      return ninja_build(out => $args{target}, rule => 'phony', in => \@deps);
  }

  sub generatesrc {
      my %args = @_;
      my $gen0 = $args{generator}->[0];
      my $gen_args = command_args(@{$args{generator}}[1..$#{$args{generator}}]);
      my $gen_incs = join("", map { " -I".cmd_quote($_) } @{$args{generator_incs}});
      my $incs = join("", map { " -I".cmd_quote($_) } @{$args{incs}});
      my $defs = join("", map { " -D".$_ } @{$args{defs}});
      my @deps = compute_platform_depends(@{$args{generator_deps}},
                                          @{$args{deps}});
      if ($args{src} =~ /\.html$/) {
          my $title = basename($args{src}, ".html");
          my $pod = $gen0;
          my $cmd = shell_join($perl,
                               cmd_quote(catfile($config{sourcedir}, "util", "mkpod2html.pl")),
                               '-i', cmd_quote($pod),
                               '-o', cmd_quote($args{src}),
                               '-t', cmd_quote($title),
                               '-r', cmd_quote(catdir($config{sourcedir}, "doc")));
          return run_build($args{src}, $cmd, [ $pod ],
                           [ catfile($config{sourcedir}, "util", "mkpod2html.pl") ],
                           [], "HTML $args{src}");
      } elsif ($args{src} =~ /\.(\d)$/) {
          my $section = $1;
          my $name = uc basename($args{src}, ".$section");
          my $pod = $gen0;
          my $cmd = 'pod2man --name='.cmd_quote($name)
                    .' --section='.$section.'ossl'
                    .' --center=OpenSSL'
                    .' --date='.cmd_quote($release_date)
                    .' --release='.cmd_quote($config{full_version})
                    .' '.cmd_quote($pod).' > '.cmd_quote($args{src});
          return run_build($args{src}, $cmd, [ $pod ], [], [],
                           "MAN $args{src}");
      } elsif (platform->isdef($args{src})) {
          my $out = platform->def($args{src});
          my $mkdef = catfile($config{sourcedir}, "util", "mkdef.pl");
          my $ord_ver = $args{intent} eq 'lib'
              ? ' --version '.cmd_quote($config{version}) : '';
          my $ord_name = $args{generator}->[1] || $args{product};
          (my $mkdef_os = $target{shared_target}) =~ s|-shared$||;
          my $cmd = $perl.' '.cmd_quote($mkdef).$ord_ver
                    .' --type '.cmd_quote($args{intent})
                    .' --ordinals '.cmd_quote($gen0)
                    .' --name '.cmd_quote($ord_name)
                    .' --OS '.cmd_quote($mkdef_os)
                    .' > '.cmd_quote($out);
          return run_build($out, $cmd, [ $gen0 ], [ @deps, $mkdef ],
                           [], "MKDEF $out");
      } elsif (platform->isasm($args{src})
               || platform->iscppasm($args{src})) {
          my $cppflags = {
              shlib => "$lib_cflags $lib_cppflags",
              lib => "$lib_cflags $lib_cppflags",
              dso => "$dso_cflags $dso_cppflags",
              bin => "$bin_cflags $bin_cppflags"
          } -> {$args{intent}};
          my $cmd;
          if ($gen0 =~ /\.pl$/) {
              $cmd = 'CC='.cmd_quote($cc).' '.$perl.$gen_incs.' '
                     .cmd_quote($gen0).$gen_args.' '
                     .cmd_quote($target{perlasm_scheme}).$incs.' '
                     .$cppflags.$defs.' '.$config{processor}.' '
                     .cmd_quote($args{src});
          } elsif ($gen0 =~ /\.m4$/) {
              $cmd = 'm4 -B 8192'.$gen_incs.' '.cmd_quote($gen0).$gen_args
                     .' > '.cmd_quote($args{src});
          } elsif ($gen0 =~ /\.S$/) {
              $cmd = $cc.' '.$incs.' '.$cppflags.$defs.' -E '
                     .cmd_quote($gen0)
                     .' | '.$perl.' -ne '
                     .cmd_quote('/^#(line)?\s*[0-9]+/ or print')
                     .' > '.cmd_quote($args{src});
          } else {
              die "Generator type for $args{src} unknown: $gen0\n";
          }
          return run_build($args{src}, $cmd, [ $gen0 ], \@deps, [],
                           "GENASM $args{src}");
      } elsif ($gen0 =~ m|^.*\.in$|) {
          my $dofile = abs2rel(rel2abs(catfile($config{sourcedir},
                                               "util", "dofile.pl")),
                               rel2abs($config{builddir}));
          my @perlmodules = ();
          my %perlmoduleincs = ();
          my %perlmoduledeps = ();
          my @raw_deps = @{$args{deps}};
          push @raw_deps,
              @{$unified_info{depends}->{generated_source_path($args{src})} // []};
          my %seen_raw_deps = ();
          @raw_deps = grep { !$seen_raw_deps{$_}++ } @raw_deps;

          foreach my $x (('configdata.pm', @raw_deps)) {
              my ($i, $m, $d);
              if ($x =~ /\|/) {
                  $i = $`;
                  $d = $';
                  $m = $d;
                  $m =~ s|\.pm$||;
                  $m =~ s|/|::|g;
                  $d = catfile($i, $d) if $i;
              } elsif ($x =~ /\.pm$/) {
                  $i = dirname($x);
                  $m = basename($x, '.pm');
                  $d = $x;
              } else {
                  $d = $x;
              }
              if ($m) {
                  my $resolved_d = resolve_perlmodule_path($d);
                  if ($resolved_d ne $d) {
                      $d = $resolved_d;
                      $i = source_path_if_exists($i) if $i;
                  }
              }
              push @perlmodules, '"-M'.$m.'"' if $m;
              $perlmoduledeps{$d} = 1;
              $perlmoduleincs{'"-I'.$i.'"'} = 1 if $i;
          }
          @deps = compute_platform_depends(@{$args{generator_deps}},
                                           sort keys %perlmoduledeps);
          my $perlmodules = join(' ', '', (sort keys %perlmoduleincs),
                                 @perlmodules);
          my $cmd = 'if [ -r '.cmd_quote($args{src}).' ]; then chmod u+w '
                    .cmd_quote($args{src}).'; fi && '
                    .$perl.$perlmodules.' '.cmd_quote($dofile)
                    .' '.cmd_quote("-o$config{build_file}")
                    .' '.cmd_quote($gen0).$gen_args
                    .' > '.cmd_quote($args{src})
                    .' && chmod a-w '.cmd_quote($args{src});
          return run_build($args{src}, $cmd, [ $gen0 ], \@deps, [],
                           "DOFILE $args{src}");
      } elsif (grep { $_ eq $gen0 } @{$unified_info{programs}}) {
          $gen0 = platform->bin($gen0);
          my $wrap = catfile($config{builddir}, "util", "wrap.pl");
          my $cmd = $perl.' '.cmd_quote($wrap).' '.cmd_quote($gen0).$gen_args
                    .' > '.cmd_quote($args{src});
          return run_build($args{src}, $cmd, [ $gen0 ],
                           [ @deps, $wrap ], [], "RUN $args{src}");
      } else {
          my $cmd = $perl.$gen_incs.' '.cmd_quote($gen0).$gen_args
                    .' > '.cmd_quote($args{src});
          return run_build($args{src}, $cmd, [ $gen0 ], \@deps,
                           [], "GEN $args{src}");
      }
  }

  sub src2obj {
      my %args = @_;
      my @srcs = @{$args{srcs}};
      my @deps = (@srcs, @{$args{deps}});
      my @order = ('build_generated');
      my $srcs = npaths(@srcs);
      my @raw_incs = @{$args{incs}};
      my @raw_defs = @{$args{defs}};
      if (defined $args{product}) {
          push @raw_incs,
              @{$unified_info{includes}->{generated_source_path($args{product})} // []};
          push @raw_defs,
              @{$unified_info{defines}->{generated_source_path($args{product})} // []};
      }
      my %seen_incs = ();
      my %seen_defs = ();
      my $incs = join(" ", map { '-I'.$_ }
                           grep { !$seen_incs{$_}++ } @raw_incs);
      my $defs = join(" ", map { "-D".$_ }
                           grep { !$seen_defs{$_}++ } @raw_defs);
      my $obj = platform->obj($args{obj});
      my $cmd = ($srcs[0] =~ /\.(cc|cpp)$/) ? $cxx : $cc;
      my $cmdflags = ($srcs[0] =~ /\.(cc|cpp)$/)
          ? {
              shlib => "$lib_cxxflags $lib_cppflags",
              lib => "$lib_cxxflags $lib_cppflags",
              dso => "$dso_cxxflags $dso_cppflags",
              bin => "$bin_cxxflags $bin_cppflags"
            }->{$args{intent}}
          : {
              shlib => "$lib_cflags $lib_cppflags",
              lib => "$lib_cflags $lib_cppflags",
              dso => "$dso_cflags $dso_cppflags",
              bin => "$bin_cflags $bin_cppflags"
            }->{$args{intent}};

      if ($srcs[0] =~ /\.rc$/) {
          return ninja_build(out => $obj, rule => 'cc_nodep',
                             in => \@deps,
                             order => \@order,
                             vars => { srcs => $srcs,
                                       cmd => $rc,
                                       cmdflags => join(' ', @{$config{RCFLAGS}},
                                                        $target{shared_rcflag}),
                                       cmdcompile => '',
                                       incs => $incs,
                                       defs => $defs });
      } elsif ($srcs[0] =~ /\.s$/) {
          return ninja_build(out => $obj, rule => 'cc_nodep',
                             in => \@deps,
                             order => \@order,
                             vars => { srcs => $srcs,
                                       cmd => $cmd,
                                       cmdflags => "$cmdflags -c",
                                       cmdcompile => '',
                                       incs => '',
                                       defs => '' });
      } elsif ($srcs[0] =~ /\.S$/) {
          return ninja_build(out => $obj, rule => 'cc_nodep',
                             in => \@deps,
                             order => \@order,
                             vars => { srcs => $srcs,
                                       cmd => $cmd,
                                       cmdflags => "$cmdflags -c",
                                       cmdcompile => '',
                                       incs => $incs,
                                       defs => $defs });
      } elsif (!$disabled{makedepend} && $makedep_scheme eq 'gcc') {
          return ninja_build(out => $obj, rule => 'cc',
                             in => \@deps,
                             order => \@order,
                             vars => { srcs => $srcs,
                                       cmd => $cmd,
                                       cmdflags => $cmdflags,
                                       depfile => platform->dep($args{obj}),
                                       incs => $incs,
                                       defs => $defs });
      } elsif (!$disabled{makedepend} && $makedep_scheme eq 'makedepend') {
          return ninja_build(out => $obj, rule => 'cc_makedepend',
                             in => \@deps,
                             order => \@order,
                             vars => { srcs => $srcs,
                                       cmd => $cmd,
                                       cmdflags => $cmdflags,
                                       cmdcompile => '-c',
                                       depfile => platform->dep($args{obj}),
                                       incs => $incs,
                                       defs => $defs });
      }
      return ninja_build(out => $obj, rule => 'cc_nodep',
                         in => \@deps,
                         order => \@order,
                         vars => { srcs => $srcs,
                                   cmd => $cmd,
                                   cmdflags => $cmdflags,
                                   cmdcompile => '-c',
                                   incs => $incs,
                                   defs => $defs });
  }

  sub obj2lib {
      my %args = @_;
      my $lib = platform->staticlib($args{lib});
      my @objs = map { platform->obj($_) } @{$args{objs}};
      return ninja_build(out => $lib, rule => 'ar', in => \@objs,
                         vars => { ar => $ar,
                                   arflags => join(' ', @{$config{ARFLAGS}}),
                                   ranlib => $ranlib });
  }

  sub obj2shlib {
      my %args = @_;
      my @objs = map { platform->convertext($_) }
                 grep { !platform->isdef($_) } @{$args{objs}};
      my @defs = map { platform->def($_) }
                 grep { platform->isdef($_) } @{$args{objs}};
      my @deps = compute_lib_depends(@{$args{deps}});
      die "More than one exported symbol map" if scalar @defs > 1;
      my $full = platform->sharedlib($args{lib});
      my $import = platform->sharedlib_import($args{lib});
      my $simple = platform->sharedlib_simple($args{lib});
      my ($linkflags, $linklibs) = link_flags(@{$args{deps}});
      my $shared_soname = defined $target{shared_sonameflag}
          ? ' '.expand_makevars($target{shared_sonameflag}).basename($full) : '';
      my $shared_imp = defined $target{shared_impflag} && defined $import
          ? ' '.expand_makevars($target{shared_impflag}).basename($import) : '';
      my $shared_def = join("", map { ' '.expand_makevars($target{shared_defflag}).$_ } @defs);
      my $cmd = $cc.' '.$lib_cflags.' '.$linkflags.' '.$lib_lflags
                .$shared_soname.$shared_imp
                .' -o '.cmd_quote($full).$shared_def.' '
                .join(' ', map { cmd_quote($_) } @objs).' '
                .$linklibs.' '.$lib_ex_libs;
      if (windowsdll()) {
          $cmd .= ' && rm -f apps/'.cmd_quote($full)
                  .' fuzz/'.cmd_quote($full)
                  .' && cp -p '.cmd_quote($full).' apps/'
                  .' && cp -p '.cmd_quote($full).' fuzz/';
          $cmd .= ' && rm -f test/'.cmd_quote($full)
                  .' && cp -p '.cmd_quote($full).' test/'
              unless $disabled{tests};
      }
      my $recipe = ninja_build(out => $full, rule => 'link',
                               in => [ @objs, @defs, @deps ],
                               vars => { command => $cmd });
      if (defined $simple && $simple ne $full) {
          my $cmd = sharedaix()
              ? 'rm -f '.cmd_quote($simple).' && '.$ar.' r '
                .cmd_quote($simple).' '.cmd_quote($full)
              : 'rm -f '.cmd_quote($simple).' && ln -s '
                .cmd_quote($full).' '.cmd_quote($simple);
          $recipe .= run_build($simple, $cmd, [ $full ], [], [],
                               "LINK $simple");
      }
      if (defined $import) {
          if (sharedaix_solib()) {
              my $cmd = 'rm -f '.cmd_quote($import).' && echo \\#!'
                        .cmd_quote($full).' > '.cmd_quote($import)
                        .' && cat '.cmd_quote($defs[0]).' >>'.cmd_quote($import);
              $recipe .= run_build($import, $cmd, [ $full, $defs[0] ], [], [],
                                   "IMPORT $import");
          } else {
              $recipe .= ninja_build(out => $import, rule => 'phony',
                                     in => [ $full ]);
          }
      }
      return $recipe;
  }

  sub obj2dso {
      my %args = @_;
      my $dso = platform->dso($args{module});
      my @objs = map { platform->convertext($_) }
                 grep { !platform->isdef($_) } @{$args{objs}};
      my @defs = map { platform->def($_) }
                 grep { platform->isdef($_) } @{$args{objs}};
      my @deps = compute_lib_depends(@{$args{deps}});
      my $shared_def = join("", map { ' '.expand_makevars($target{shared_defflag}).$_ } @defs);
      $shared_def .= ' '.expand_makevars($target{shared_fipsflag})
          if (defined $target{shared_fipsflag}
              && $shared_def =~ m/providers\/fips/);
      my ($linkflags, $linklibs) = link_flags(@{$args{deps}});
      my $cmd = $cc.' '.$dso_cflags.' '.$linkflags.' '.$dso_lflags
                .' -o '.cmd_quote($dso).$shared_def.' '
                .join(' ', map { cmd_quote($_) } @objs).' '
                .$linklibs.' '.$dso_ex_libs;
      return ninja_build(out => $dso, rule => 'link',
                         in => [ @objs, @defs, @deps ],
                         vars => { command => $cmd });
  }

  sub obj2bin {
      my %args = @_;
      my $bin = platform->bin($args{bin});
      my @objs = map { platform->obj($_) } @{$args{objs}};
      my @deps = compute_lib_depends(@{$args{deps}});
      my ($linkflags, $linklibs) = link_flags(@{$args{deps}});
      my $cmd = (grep /_cc\.o$/, @{$args{objs}}) ? $cxx : $cc;
      my $cmdflags = (grep /_cc\.o$/, @{$args{objs}})
          ? $bin_cxxflags : $bin_cflags;
      my $link = $cmd.' '.$cmdflags.' '.$linkflags.' '.$bin_lflags
                 .' -o '.cmd_quote($bin).' '
                 .join(' ', map { cmd_quote($_) } @objs).' '
                 .$linklibs.' '.$bin_ex_libs;
      return ninja_build(out => $bin, rule => 'link',
                         in => [ @objs, @deps ],
                         vars => { command => 'rm -f '.cmd_quote($bin)
                                              .' && '.$link });
  }

  sub in2script {
      my %args = @_;
      my $script = $args{script};
      my @sources = @{$args{sources}};
      my $dofile = abs2rel(rel2abs(catfile($config{sourcedir},
                                           "util", "dofile.pl")),
                           rel2abs($config{builddir}));
      my $cmd = 'if [ -r '.cmd_quote($script).' ]; then chmod u+w '
                .cmd_quote($script).'; fi && rm -f '.cmd_quote($script)
                .' && '.$perl.' '.cmd_quote("-I$config{builddir}")
                .' -Mconfigdata '.cmd_quote($dofile)
                .' '.cmd_quote("-o$config{build_file}")
                .' '.join(' ', map { cmd_quote($_) } @sources)
                .' > '.cmd_quote($script)
                .' && chmod a+x,a-w '.cmd_quote($script);
      return run_build($script, $cmd, [ @sources, 'configdata.pm' ], [], [],
                       "SCRIPT $script");
  }

  sub generatedir {
      my %args = @_;
      my $dir = $args{dir};
      return if $dir eq "test" || $dir eq ".";
      my @deps = compute_platform_depends(@{$args{deps}});
      foreach my $type (("dso", "lib", "bin", "script")) {
          next unless defined($unified_info{dirinfo}->{$dir}->{products}->{$type});
          next if $type eq "lib";
          foreach my $prod (@{$unified_info{dirinfo}->{$dir}->{products}->{$type}}) {
              push @deps, compute_platform_depends($prod) if dirname($prod) eq $dir;
          }
      }
      return ninja_build(out => [ $dir, "$dir/" ], rule => 'phony',
                         in => \@deps);
  }

  sub generated_source_path {
      my $src = shift;
      return $src if file_name_is_absolute($src) || $src =~ m|^\.\.[\\/]|;
      return catfile($config{sourcedir}, split m|[\\/]+|, $src);
  }

  sub resolve_perlmodule_path {
      my $path = shift;
      return $path if !defined($path) || $path eq '' || $path eq '.'
                      || file_name_is_absolute($path)
                      || $path =~ m|^\.\.[\\/]|
                      || exists $unified_info{generate}->{$path}
                      || -e $path;
      my $source_path = generated_source_path($path);
      return -e $source_path ? $source_path : $path;
  }

  sub source_path_if_exists {
      my $path = shift;
      return $path if !defined($path) || $path eq ''
                      || file_name_is_absolute($path)
                      || $path =~ m|^\.\.[\\/]|;
      my $source_path = generated_source_path($path);
      return -e $source_path ? $source_path : $path;
  }

  sub shadowed_generated_rules {
      return '' if rel2abs($config{sourcedir}) eq rel2abs($config{builddir});

      # Out-of-tree builds can be configured from a source tree that already
      # contains ignored generated exporter files.  Add local rules for the
      # shadowed generated dependencies that the normal generation pass skips.
      my @fallbacks = qw(
          OpenSSLConfig.cmake
          builddata.pm
          exporters/OpenSSLConfig.cmake
          exporters/libcrypto.pc
          exporters/libssl.pc
          installdata.pm
          libcrypto.pc
          libssl.pc
      );
      my $out = '';

      for my $src (@fallbacks) {
          my $generator = $unified_info{generate}->{$src} // next;
          my $source_path = generated_source_path($src);
          next unless -e $source_path;

          my $gen0 = $generator->[0];
          my @deps = @{$unified_info{depends}->{$src}
                       // $unified_info{depends}->{$source_path}
                       // []};
          my %attrs = %{$unified_info{attributes}->{generate}->{$src} // {}};

          $out .= generatesrc(
              src => $src,
              product => undef,
              generator => $generator,
              generator_incs => $unified_info{includes}->{$gen0} // [],
              generator_deps => $unified_info{depends}->{$gen0} // [],
              deps => \@deps,
              incs => [],
              defs => [],
              attrs => { %attrs });
      }

      return $out;
  }

  shadowed_generated_rules();
-}
