<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleName</key>
	<string>fips_algvs</string>
	<key>CFBundleSupportedPlatforms</key>
	<array>
	    <string>iPhoneOS</string>
	</array>
	<key>CFBundleExecutable</key>
	<string>fips_algvs</string>
	<key>CFBundleIdentifier</key>
	<string>fips_algvs</string>
	<key>CFBundleResourceSpecification</key>
	<string>ResourceRules.plist</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>CFBundleDisplayName</key>
	<string>fips_algvs</string>
	<key>CFBundleVersion</key>
	<string>1.0</string>
</dict>
</plist>
