# Copyright 2026 The OpenSSL Project Authors. All Rights Reserved.
#
# Licensed under the Apache License 2.0 (the "License").  You may not use
# this file except in compliance with the License.  You can obtain a copy
# in the file LICENSE in the source distribution or at
# https://www.openssl.org/source/license.html

name: ECH external tests

on: [pull_request, push]

permissions:
  contents: read

env:
  OSSL_RUN_CI_TESTS: 1

jobs:
  external-test-bssl:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6
      with:
        persist-credentials: false
    - name: Configure OpenSSL
      run: ./config enable-external-tests
    - name: Build OpenSSL
      run: make -s -j4
    - name: Clone BoringSSL 0.20260211.0
      run: git clone --depth 1 --branch 0.20260211.0  https://boringssl.googlesource.com/boringssl
    - name: Configure and Build BoringSSL
      run: |
        cd boringssl
        mkdir build
        cd build
        cmake -DCMAKE_INSTALL_PREFIX=../../boringssl/.local ..
        make -s -j4
        make install
        cd ../..
    - name: Test ECH with BoringSSL
      run: make test TESTS='test_external_ech_bssl' V=1
  external-test-nss:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6
      with:
        persist-credentials: false
    - name: Configure OpenSSL
      run: ./config enable-external-tests
    - name: Build OpenSSL
      run: make -s -j4
    - name: Clone and Build NSS
      run: |
        mkdir nss
        cd nss
        git clone --depth 1 --branch NSS_3_112_3_RTM https://github.com/nss-dev/nss.git
        hg clone https://hg.mozilla.org/projects/nspr -r NSPR_4_36_BRANCH
        cd nss
        USE_64=1 make nss_build_all
        USE_64=1 make install
        cd ../..
    - name: Test ECH with NSS
      run: make test TESTS='test_external_ech_nss' V=1

