name: Interoperability tests with GnuTLS and NSS
on: [pull_request, push]
jobs:
  test:
    runs-on: ubuntu-22.04
    container:
      image: docker.io/fedora:39
      options: --sysctl net.ipv6.conf.lo.disable_ipv6=0
    timeout-minutes: 90
    strategy:
      fail-fast: false
      matrix:
        COMPONENT: [gnutls, nss]
    env:
      COMPONENT: ${{ matrix.COMPONENT }}
    # Code below inspired by https://fedoramagazine.org/github-actions-use-podman-to-run-fedora-linux/
    steps:
      - uses: actions/checkout@v4
      - name : Install needed tools
        run: |
          dnf -y install perl gcc rpmdevtools dnf-utils make tmt-all beakerlib \
                 fips-mode-setup crypto-policies-scripts
      - name: install interop tests
        run: |
          cd /__w/openssl/openssl
          git clone --branch=openssl --depth=1 https://gitlab.com/redhat-crypto/tests/interop.git
      - name: build openssl as an rpm
        run: |
          mkdir -p /build/SPECS && cd /build && echo -e "%_topdir /build\n%_lto_cflags %{nil}" >~/.rpmmacros && rpmdev-setuptree
          cd /build && cp /__w/openssl/openssl/interop/openssl.spec SPECS/ && \
          cd SPECS/ && source /__w/openssl/openssl/VERSION.dat && \
          sed -i "s/^Version: .*\$/Version: $MAJOR.$MINOR.$PATCH/" openssl.spec && \
          sed -i 's/^Release: .*$/Release: dev/' openssl.spec
          yum-builddep -y /build/SPECS/openssl.spec # just for sure nothing is missing
          mkdir -p /build/SOURCES
          tar --transform "s/^__w\/openssl\/openssl/openssl-$MAJOR.$MINOR.$PATCH/" -czf /build/SOURCES/openssl-$MAJOR.$MINOR.$PATCH.tar.gz /__w/openssl/openssl/
          rpmbuild -bb /build/SPECS/openssl.spec
          dnf install -y /build/RPMS/x86_64/openssl-*
      - name: Run interop tests
        run: |
          cd interop
          tmt run -av plans -n interop tests -f "tag: interop-openssl & tag: interop-$COMPONENT" provision -h local execute -h tmt --interactive
          openssl version
          echo "Finished - important to prevent unwanted output truncating"
