# Copyright 2021-2025 The OpenSSL Project Authors. All Rights Reserved.
#
# Licensed under the Apache License 2.0 (the "License").  You may not use
# this file except in compliance with the License.  You can obtain a copy
# in the file LICENSE in the source distribution or at
# https://www.openssl.org/source/license.html

name: OS Zoo CI

on: [pull_request, push]

permissions:
  contents: read

jobs:
  linux-s390x:
    runs-on: linux-s390x
    if: github.repository == 'openssl/openssl'
    steps:
    - uses: actions/checkout@v6
      with:
        persist-credentials: false
    - name: config
      run: ./config -Werror --strict-warnings enable-fips -no-argon2 -no-aria -no-async -no-atexit -no-autoload-config -no-blake2 -no-bf -no-camellia -no-cast -no-chacha -no-cmac -no-cms -no-cmp -no-comp -no-ct -no-des -no-dgram -no-dh -no-dsa -no-ec -no-hmac-drbg-kdf -no-idea -no-kbkdf -no-krb5kdf -no-ktls -no-lms -no-md4 -no-ml-dsa -no-ml-kem -no-multiblock -no-nextprotoneg -no-ocsp -no-ocb -no-poly1305 -no-psk -no-pvkkdf -no-rc2 -no-rc4 -no-rmd160 -no-scrypt -no-seed -no-siphash -no-siv -no-sm3 -no-sm4 -no-snmpkdf -no-srp -no-srtp -no-srtpkdf -no-sshkdf -no-sskdf -no-ssl-trace -no-tfo -no-ts -no-ui-console -no-whirlpool -no-x942kdf -no-x963kdf
    - name: config dump
      run: ./configdata.pm --dump
    - name: make
      run: make -j4
    - name: get cpu info
      run: |
        cat /proc/cpuinfo
        ./util/opensslwrap.sh version -c
    - name: make test
      run: make test HARNESS_JOBS=${HARNESS_JOBS:-4} LHASH_WORKERS=${LHASH_WORKERS:-16}
